<!-- <span class="skype-button bubble" data-contact-id="arjun.chakraborty42" data-color="#800000"></span>
<span class="skype-chat" data-color-message="#800000"></span> -->
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

    <div class = "container-fluid arch">
        <br>
        <br>
        <br>
        <br>
        <h1 class = "bigTitleFont"><strong> <center> THE VISION </center></strong> </h1>
        <p  class = "textbox secondTitleFont"> Apiary solutions is committed to promoting and developing connections between thriving, ambitious high school students and college students who attend the worlds most elite universities. By leveraging a diverse, cross-generational network of college and high school students, Apiary carries out this mission through intense personal mentorship, with the aim to successfully guide students through the college application process and beyond. </p>
    </div>

    <br>
    <br>
<div class = "container">
       <br>
       <h1 class = "bigTitleFont-black"><strong> <center> THE TEAM </center></strong> </h1>
       <h3 class = "secondTitleFont-black"> <center> Our consultants are the most recent admits to top universities. This means that they know what it takes to give your application a successful edge, and that they were in your place just a few years ago. They serve as extensively trained advisors, peer supporters, and role models for clients. Here are some of our active consultants: </center> </h3>
       <div class="scrolling-wrapper">
        <!-- <div class="row"> -->

            <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/team/Christopher.jpg" alt="Jane" style="height: 370px; width:100%">
                    <div class="alpine-team-container">
                    <h3 class = "teamName">Christopher Hemm</h3>
                    <p class="title"> Head of Consulting and Finance </p>
                    <p>University of Chicago </p>
                    </div>
                </div>
            <!-- </div> -->

            <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/team/Helena.jpg" alt="Jane" style="height: 370px; width:100%">
                    <div class="alpine-team-container">
                    <h3 class = "teamName">Helena Thomas</h3>
                    <p class="title"> Senior Network Developer </p>
                    <p>University of Chicago </p>
                    </div>
                </div>
            <!-- </div> -->

            <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/team/Abhi.jpg" alt="John" style="height: 370px; width:100%">
                    <div class="alpine-team-container">
                        <h3 class = "teamName"> Abhi Kottamasu </h3>
                        <p class="title">Chief Technology Officer</p>
                        <p>University of Michigan </p>
                    </div>
                </div>
            <!-- </div> -->

             <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/team/Arjun.jpg" alt="Mike" style="height: 370px; width:100%">
                    <div class="alpine-team-container">
                        <h3 class = "teamName"> Arjun Chakraborty </h3>
                        <p class="title">Head of Network Development</p>
                        <p>University of Chicago </p>
                    </div>
                </div>
            <!-- </div> -->

            <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/team/Daniel.jpg" alt="Mike" style="height: 370px; width:100%">
                      <div class="alpine-team-container">
                        <h3 class = "teamName"> Daniel Lee </h3>
                        <p class="title">Marketing Director and Legal Counsel</p>
                        <p>University of Chicago</p>
                      </div>

                </div>
            <!-- </div> -->

            <!-- <div class="col-lg-3 col-sm-12"> -->
                <!-- <br> -->
                <!-- <div class="card card-profile members-profiles"> -->
                <!-- <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
                    <img src="/images/avatar2.png" alt="Mike" style="height: 370px; width:100%">
                      <div class="alpine-team-container">
                        <h3 class = "teamName"> George Kingston </h3>
                        <p class="title">Art Director</p>
                        <p>Stanford University</p>
                      </div>

                </div> -->
            <!-- </div> -->
    </div>
    <h1 class = "bigTitleFont-black" style="color: black; font-size: 30px;"><strong> <center> SCROLL RIGHT TO SEE ALL </center></strong> </h1>
  </div>
</div>
 <br>
 <br>


    <!-- <div class = "container-fluid fixed-bg" style = "min-height: 420px;">
        <br>
        <center> <h1 class = "bigTitleFont-black" > WE STRIVE FOR TRANSPARENCY</h1></center>

    <center> <p class = "twoWays textbox"> IN TWO WAYS </p></center> -->
        <!-- Container -->
		<!-- <div class="container"> -->

			<!-- Row -->
			<!-- <div class="row"> -->

				<!-- Section header -->
				<!-- <div class="section-header text-center">
					<h2 class="a">What we offer</h2>
				</div>
                <br> -->
				<!-- /Section header -->

				<!-- service -->
				<!-- <div class="col-md-4 col-sm-6">
					<div class="service2">

						<h3 class = "transparencyMain" ><center>  Transparency from Us </center></h3>
						<p1 class = "transparencySecond" ><center> Clarity in all features, services and prices during all stages of involvement with Apiary. </center></p1>
					</div>
				</div> -->
				<!-- /service -->

				<!-- service -->
				<!-- <div class="col-md-4 col-sm-6">
					<div class="service2">
						<h3 class = "transparencyMain" ><center>  Transparency from You </center></h3>
						<p1 class = "transparencySecond" ><center> We want to promote transparency so that students perceive college-consulting as a source of pride.  </center></p1>
					</div>
				</div> -->
				<!-- /service -->

			<!-- </div> -->
			<!-- /Row -->

          <!-- <center> <strong>  <p class = "stigma textbox2"> Our goal is to remove the unjustified stigma behind college consulting. </p></strong></center>
		</div> -->
		<!-- /Container -->

	<!-- </div> -->
	<!-- /Service -->



   <!-- training stuff -->
    <!-- <br>
    <br>
    <br>


    <div class = "container">
        <h1 class = "bigTitleFont-black"><strong> <center> TRAINING </center></strong> </h1>
    <h3 class = "thirdTitleFont"> Each consultant derives from a unique background, both academically and culturally. They are studying in a diverse range of top universities. Despite the team's diversity, they all share an undisputed record of academic excellence, unrivaled intellectual curiosity, and the ambition to become the best at what they do in college and beyond.  </h3>
        <br>
        <br>
        <br> -->
        <center><strong><bold><h2 class = "consultantTraining"> THE CONSULTANT TRAINING PROCESS </h2> </bold></strong></center>
    <br>
    <div class="row">
  <div class="column1 col-lg-4 col-sm-12  tab1" onclick="openTab('b1');" >Essay Review Training</div>
  <div class="column1 col-lg-4 col-sm-12 tab2" onclick="openTab('b2');" >College Expertise</div>
  <div class="column1 col-lg-4 col-sm-12 tab3" onclick="openTab('b3');" >Consulting Experience</div>
</div>

<!-- The expanding grid (hidden by default) -->
<div id="b1" class="containerTab" style="display:none; background:firebrick;">
  <!-- If you want the ability to close the container, add a close button -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <p class = "thirdTitleFont-white">Our consultants have been extensively trained on the process essay reviewing. Not only have they been exposed to a multitude of sample-essays, but also they have been refined their advising and scrutinize skills using the Apiary essay database.
</p>
</div>

<div id="b2" class="containerTab" style="display:none;background:brown">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <p class = "thirdTitleFont-white">Apiary differentiates itself by ensuring that its consultants are experts in two unorthodox ways. Firstly, the consultants are college students who each excel in their communities from an academic and extracurricular context; they can be considered the goal for any aspiring student in high school. Secondly, they form our data gathering team, putting the consultants at the forefront of college related research and making them the most informed regarding new college developments.
</p>
</div>

<div id="b3" class="containerTab" style="display:none;background:maroon">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <p class = "thirdTitleFont-white">As a part of their training the consultants have had guided practice to supplement their previous experiences consulting in this domain. The practice sessions have been conducted using both hypothetical student profiles and a beta round of real students graduating high school in 2019.</p>
</div>
<br>
<br>
<div class = "container">
   <br>
   <h1 class = "bigTitleFont-black"><strong> <center> THE DATABASE </center></strong> </h1>
   <h3 class = "secondTitleFont-black"> <center> Ever wonder what your peers are using to craft successful applications - ever wonder if you're missing something? Access the extensive database of essays, AP/IB study-guides, standardized test prep, resumes, and internship contacts that got our network members into top schools.</center></h3>
</div>
<br>
<div style="overflow: auto" class="section sm-padding net2">

  <!-- Container -->
  <div class="container-fluid" >
    <!-- Row -->
    <div class="row">

      <!-- number -->
      <div class="col-xs-12 col-sm-3" >
        <div class="number">
          <i class="fa fa-users"></i>
          <h3 class="stat1 white-text"><span class="counter">25+</span></h3>
          <span  class="stat2 white-text">Different Students</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-xs-12 col-sm-3">
        <div class="number">
          <i class="fa fa-trophy"></i>
          <h3 class="stat1 white-text"><span class="counter">50+</span></h3>
          <span class=" stat2 white-text">Unique Univerities</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-xs-12 col-sm-3">
        <div class="number">
          <i class="fa fa-coffee"></i>
          <h3 class="stat1 white-text"><span class="counter">100+</span></h3>
          <span class="stat2 white-text">Unique Essays</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-12">
        <div class="number">
          <i class="fa fa-file"></i>
          <h3 class="stat1 white-text">15+<span class="counter"></span></h3>
          <span class="stat2 white-text">Different Subjects</span>
        </div>
      </div>
      <!-- /number -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Numbers -->
<br>
<br>
<div class = "container">
   <br>
   <h1 class = "bigTitleFont-black"><strong> <center> THE NETWORK </center></strong> </h1>
   <h3 class = "secondTitleFont-black"> <center>  Join a network of ambitious and accomplished students also headed to the world's top universities. Get insider information about campus culture, extracurriculars, and traditions to make your supplements stand out. Share internship opportunities, ask class questions, organize meetups. Connect with tomorrow's leaders.</center></h3>
</div>
<br>
<center><strong><bold><h2 class = "schoolsRepresented"> Schools Represented on our Network</h2> </bold></strong></center>
<br>
<div style="overflow: auto" class="section sm-padding net2">

<div class="container-fluid" >
  <!-- Row -->
  <div class="row">

    <!-- number -->
    <div class="col-xs-12 col-sm-3" >
      <div class="number">
        <i class="fa fa-users"></i>
        <ul  class="stat2 white-text">Harvard</ul>
        <ul  class="stat2 white-text">Yale</ul>
        <ul  class="stat2 white-text">Princeton</ul>
        <ul  class="stat2 white-text">Stanford</ul>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-xs-12 col-sm-3">
      <div class="number">
        <i class="fa fa-trophy"></i>
        <ul  class="stat2 white-text">Columbia</ul>
        <ul  class="stat2 white-text">UPenn</ul>
        <ul  class="stat2 white-text">UChicago</ul>
        <ul  class="stat2 white-text">Brown</ul>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-xs-12 col-sm-3">
      <div class="number">
        <i class="fa fa-coffee"></i>
        <ul  class="stat2 white-text">Cornell</ul>
        <ul  class="stat2 white-text">Dartmouth</ul>
        <ul  class="stat2 white-text">Carnegie Mellon</ul>
        <ul  class="stat2 white-text">University of Michigan</ul>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-sm-3 col-xs-12">
      <div class="number">
        <ul  class="stat2 white-text">Northwestern</ul>
        <ul  class="stat2 white-text">Williams</ul>
        <ul  class="stat2 white-text">Wellesly</ul>
        <ul  class="stat2 white-text">NYU</ul>
      </div>
    </div>


    </div>

  </div>

</div>
<br> <br> <br> <br>
    <script>
function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("containerTab");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>

    <div style="height:520px;" class="fixed-bg-sf p_120">
            <div class="container">
            <div class="block">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <h1 class = "interestedServices"><strong> <center> WANT TO KNOW MORE? </center></strong> </h1>
                <br>
                <center><a type="button" href="/services" class="btn btn-light btn-lg" style = "font-family:'Montserrat', sans-serif ">OUR SERVICES</a></center><br>
                <center><a type="button" href="/register" class="btn btn-light btn-lg" style = "font-family:'Montserrat', sans-serif ">REGISTER</a></center>
            </div>
            </div>
        </div>

        <footer class="footer-area section_gap" style = "height: 240px;">
            <div class="container">

                                     <center> <img src = "images/apiarylogoblack.png" style = "width: 250px; height: 157px;"> </center>
                <div class="border_line"></div>
              <p class = "first-font"> Copyright © 2018 All rights reserved </p>
            </div>
        </footer>
