

    <div class = "container">
        <br>
        <br>
        <h1 class = "bigTitleFont-black"><strong> <center> WHAT DOES APIARY LOOK FOR?  </center></strong> </h1>
    <h3 class = "applyText"> Just as you want the best consultants, we want our community to have the best students. We believe that this selectivity is the best way to create and regulate unparalleled success for the students involved. Our goal is quality and not quantity. By joining Apiary, you are not merely enlisting the services of our consultants, but are joining a community. Thus, you will not be paying for a service that merely mandates rigorous application process through increase effort. Instead, you will be opting to immerse yourself in a group of people who want to attain success in the college application process as much as you do. This community will give you as much as you give it. We look for active members who care and, more than anything else, want to connect with bright highschool and college students.
</h3>
        <br>
        <br>
        <h1 class = "bigTitleFont-black"><strong> <center> THE APPLICATION PROCESS   </center></strong> </h1>
    <h3 class = "applyText"> Our application is designed to ensure that students involved meet the academic prerequisites to apply to top tier universities while maintaining unique interests, ambition and intellectual curiosity that are aimed at making an impact in the future. Our judgements will be made in context of applicant age and location. In the simplest sense, we are looking for people that stand out amongst their peers for their academic and extracurricular performance.
        <br>
<br>
This selectivity is our way of ensuring that the members are focussed, dedicated and equally capable of learning and giving back to the community as a whole. Additionally, it also maintains an exclusive user base that is focussed on prestigious institutions. If you are interested in our program and want to apply, ask yourself the following questions:
<br>
        <br>
        <ul style="list-style-type:square">
  <li>Do you believe that you belong in a top tier university? </li>
  <li>Do you feel that you will benefit from gaining first hand information from those who study at a particular university? </li>
  <li>Is there more that you can do to achieve your academic, extracurricular and application related goals? </li>
</ul>

<br>
If the answer to these questions is yes, then we believe that you are well suited to apply for Apiary. Our openness regarding the selectivity of the program and the community should not discourage applications. The benefits of being a part of this community are significant. Not getting in does not signify anything in the larger context of the college application process or life outside of this context.
</h3>
        </div>
    <br>
    <br>
    <footer class="footer-area section_gap" style = "height: 240px;">
            <div class="container">

                                     <center> <img src = "images/apiarylogoblack.png" style = "width: 250px; height: 157px;"> </center>
                <div class="border_line"></div>
              <p class = "first-font"> Copyright © 2018 All rights reserved </p>
            </div>
        </footer>
