<div>
<p> Authorize Apiary Calendar by Visiting </p>
<a href={{authUrl}}>Get Authentication Link</a>
</div> <br>
<form method="POST" action="calendarAuth">
  <input type="text" name="authLink" placeholder = "Paste authentication link here" />
</form>
