
<!-- <div class="consultants">
  <img src="/images/Education-Consultant.jpg" alt="Education-Consultant" style="width: 1800; height:500px;" class="responsive">

  <div class="question-text"> Where do you want to study? </div>

  <div class="goal-text"> Our goal is to bridge the information gap between successful college applicants and potential applicants to ensure the success of the latter. </div>

</div> -->

<!-- <span class="skype-button bubble" data-contact-id="arjun.chakraborty42" data-color="#800000"></span>
<span class="skype-chat" data-color-message="#800000"></span> -->
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

<div style="height:580px;" class="fixed-bg-sf p_120">
  <div class="container">
    <div class="block">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 class = "topTier"> <center>Applying to Top-Tier Universities? </center></h3>
      <h5 class = "gotIn"> <center><i> Nearly everyone is qualified, but not everyone gets in. </br> Join a network of people who did. </i> </center></h5>
    </div>
  </div>
</div>


<!--col-lg12 col-md-12 col-sm-12 col-12-->

<!-- <div class="container">
  <br>
  <br>
  <br>
  <ul class="row align-items-start">
    <div class="col colleges">
      <img src="./images/Colleges_icon.png" width="142px" height="167px" class="square-colleges">
      <h4 class="icon-colleges"> College Selection</h4>
    </div>

    <div class="col justify-content-center align-items center apply">
      <img src="./images/Apply_icon.png" width="142px" height="167px" class="square-apply">
      <h4 class="icon-apply"> Application Writing</h4>
    </div>

    <div class="col network">
      <img src="./images/Network_icon.png" width="142px" height="167px" class="square-network">
      <h4 class="icon-network"> Hive Network</h4>
    </div>

    <div class="col database">
      <img src="./images/Database_icon.png" width="142px" height="167px" class="square-database">
      <h4 class="icon-database"> Resource Database</h4>
    </div>

    <div class="col testing">
      <img src="./images/Testing_icon.png" width="142px" height="167px" class="square-testing">
      <h4 class="icon-testing"> Testing Resources</h4>
    </div>
  </ul>
</div> -->
<!-- <br> <br> <br> -->
<div class="big-block">
  <div class="container-fluid bg-maroon sec-font" style ="font-family:'Montserrat', sans-serif">
    <center>THE PROBLEM WITH COLLEGE CONSULTING TODAY </center>
  </div>
  <!--
        <img src="./images/grey.jpg" width="1421px" height="570px" class = "greybackground">

        <div class = "container-fluid small-block">

            <div class = "col-6">
                <div class="bg-white third-font leftalign">
                The college admissions process is different for everyone. For some it is an intimidating task that shadows over their finals years of highschool and for others it is a unique opportunity to showcase themselves. Regardless of where you fall on that spectrum, it is undeniable that the admissions process has become considerably more competitive over time.
                </div>
            </div>

            <div class = "col-6"></div>
        </div> -->
</div>


<!--<img src="./images/statistics.png" alt="Acceptance Statistics" style="width:500px;height:300px;" class="logoimage">
-->

<!-- <div style="height:220px; overflow: auto" class="fixed-bg p_120">
  <div class="container">
    <div class="block">
      <br>
      <br>
      <h3 class = "competitiveCollege"> <center>As obtaining high GPA’s and stellar standardized testing scores becomes more common, academic consulting is critical to crafting a succesful application.</center></h3>
      <br>
      <h5 class = "stellarTesting"> <center><i> </i> </center></h5>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row feature_inner">
    <div class="col-lg-4">
      <br>
      <br>
      <h1 class = "bigStats" ><center> 482 : 1 </center></h1>
      <div class="feature_item-1">
        <p>
          <center> is the average student-to-guidance counselor ratio. </center>
        </p>
        <center>
          <div>
            <!-- <br>
            <center> <a href="#stat2" class="btn btn-info" data-toggle="collapse"> SEE MORE</a>
              <div id="stat2" class="collapse">
                <br>
                <img src="images/stat2.png" alt="Admission Statistics" class="dataPic2 responsive">
              </div>
            </center> -->
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <br>
      <br>
      <h1 class = "bigStats" ><center> 1 in 4 </center></h1>
      <div class="feature_item-1">
        <p>
          <center> high-acheiving students use private college consulting services. </center>
        </p>
        <div>
          <!-- <br>
          <center> <a href="#stat3" class="btn btn-info" data-toggle="collapse"> SEE MORE</a>
            <div id="stat3" class="collapse">
              <br>
              <img src="images/stat3.png" alt="Admission Statistics" class="responsive dataPic1">
            </div>
          </center> -->

        </div>
      </div>
    </div>



    <div class="col-lg-4">
      <br>
      <br>
      <h1 class = "bigStats" ><center> $4,035 </center></h1>
      <div class="feature_item-1">
        <p>
          <center> is the average amount high schoolers spend on college counsulting services. </center>
        </p>
        <div>
          <!-- <br>
          <center> <a href="#stat1" class="btn btn-info" data-toggle="collapse"> SEE MORE</a>
            <div id="stat1" class="collapse">
              <br>
              <img src="images/stat1.png" alt="Admission Statistics" class="dataPic3 responsive">
            </div>
          </center> -->
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<!-- <br>
<br> -->
<div class="container-fluid bg-maroon sec-font">
  <center> THE APIARY SOLUTION </center>
</div>

<!-- <div class="container-fluid">
        		<div class="row feature_item-1">

        			<div class="col-lg-4">
                        <br>
                        <br>
                        <center> <img src ="images/community.png" style="height:50px; width: 50px"> </center>
                        <br>
                                <h3 style = "color: black; font-family: 'Alegreya Sans SC', sans-serif; font-size: 28px"><center><strong> Personalized Consulting </strong></center></h3>
                                    <center> We offer mentorship that is not merely professional but also personable. It is tailored and refined to fit every unique and nuanced international applicant. Apiary mentorship transcends app-season. </center>


        			</div>

        			<div class="col-lg-4">
                        <br>
                        <br>
                        <center> <img src ="images/cloud.png" style="height:50px; width: 50px"> </center>
                        <br>
                                <h1 style = "color: black; font-family: 'Alegreya Sans SC', sans-serif; font-size: 28px"><center><strong> Vast Database of Information </strong></center></h1>
                                    <center> We combine data-backed, comprehensive industry knowledge about international acceptances in the Alpine database with first-hand experience-from top international students around the world. </center>
                    </div>

                    <div class="col-lg-4 ">
                        <br>
                        <br>
                        <center> <img src ="images/network.png" style="height:50px; width: 50px"> </center>
                        <br>
                        <h1 style = "color: black; font-family: 'Alegreya Sans SC', sans-serif; font-size: 28px"><center><strong> Network of Ambitious Peers</strong></center></h1>
                        <center> You will join a network of incredibly ambitious and accomplished students also embarking on their journeys at the worlds most rigorous and prestigious universities. No one is out of range. </center>
        		    </div>
            </div>
        </div> -->
<br>
<br>
<br>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="container col-sm-12 col-lg-4 col-md-12" style="height: 282px; overflow: auto">
      <img src="images/uchic1.jpg" style="height: 275px; opacity: 0.8" class="image">
      <div class="overlay" style="width: 93%; height: 98%">
        <div class="text">
          <img src="images/community.png" style="height:60px; width: 60px">
          <h3 class = "serviceTitle">       Personalized Consulting </h3>
          <center style="font-size: 17px">Organize one-on-one consultations with the most recent admits to your school of choice. Using their industry-training, they guide you through each step of your application to ensure its success.  </center>
        </div>
      </div>
    </div>

    <div class="container col-md-12 col-sm-12 col-lg-4" style="height: 282px; overflow: auto">
      <img src="images/umich1.jpg" style="height: 275px; opacity: 0.8" class="image">
      <div class="overlay" style="width: 93%; height: 98%">
        <div class="text">
          <img src="images/cloud.png" style="height:70px; width: 70px">
          <h4 class = "serviceTitle">      Vast Database of Information </h4>
            <center style="font-size: 17px; padding: 5px"> Access the college essays, AP/IB study-guides, standardized test prep, resumes, and internship resources that got the members of our network into top schools. </center>
        </div>
      </div>


    </div>
    <div class="container col-md-12 col-sm-12 col-lg-4" style="height: 282px; overflow: auto">
      <img src="images/columbia1.jpg" style="height: 275px; opacity: 0.8" class="image">
      <div class="overlay" style="width: 93%; height: 98%">
        <div class="text">
          <img src="images/network.png" style="height:60px; width: 60px">
          <h4 class = "serviceTitle">      <center> Network of Ambitious Peers </center></h4>
          <center style="font-size: 17px"> Join a network of ambitious and accomplished students also headed to the world's top universities. Share internship opportunities, ask class questions, organize meetups. </center>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class = "container">
  <h2 class = "secondTitleFont-black" style="font-size: 26px;"><center>Our services combine to perfect every aspect of your application using tools that have been proven successful for students now attending the world's most elite institutions.</center></h2>
    <h3 class = "thirdTitleFont"><center>
      Need a consultant who understands your busy lifestyle and will give you the latest information on how to market yourself? That's our specialty. Looking for essay inspiration, or simply looking to confirm that your own application is up to par? Check out our Database. Looking to reach out to peers who can give you insider information about campus culture or even house you when you visit? Find them on our network.  </h3>
    </center>  </div>
    <br>
<br>
<br>
<div style="height:520px;" class="fixed-bg-sf p_120">
  <div class="container">
    <div class="block">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class = "interestedServices"><strong> <center> MORE QUESTIONS? </center></strong> </h1>
      <br>
      <center><a type="button" href="/about" class="btn btn-light btn-lg" style = "font-family:'Montserrat', sans-serif ">ABOUT US</a></center><br>
      <center><button type="button" href="/register" class="btn btn-light btn-lg buttonFont">REGISTER</button></center>
    </div>
  </div>
</div>

<footer class="footer-area section_gap" style="height: 240px;">
  <div class="container">
    <!--<div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title head-font" style= "font-size: 16px;" >About Us</h6>
                            <p class = "first-font">Apiary is focused on connecting people to maximize the potential of its students. We take college consulting a step further to create highly beneficial and efficient relationships that support students during and after their application process. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title head-font" style= "font-size: 16px;">Navigation Links</h6>
                            <br>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list first-font">
                                        <li><a href="#">The Team</a></li>
                                        <li><a href="#">The Vision</a></li>
                                        <li><a href="#">Training</a></li>
                                        <li><a href="#">Databases</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list first-font">
                                        <li><a href="#">Apiary Network</a></li>
                                        <li><a href="#">Apply</a></li>
                                        <li><a href="#">Payment</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title head-font" style= "font-size: 16px;">Newsletter</h6>
                            <p class = "first-font"> To be kept in the loop, subscribe to our newsletter. </p>
                            <br>
                            <div id="mc_embed_signup">
                                <!<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">-
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <br>
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                          <h6 class="footer_title head-font" style= "font-size: 16px;">Contact Us</h6>

                        </div>
                    </div>
                </div>
        -->
    <center> <img src="images/apiarylogoblack.png" style="width: 250px; height: 157px;"> </center>
    <div class="border_line"></div>
    <p class="first-font"> Copyright © 2018 All rights reserved </p>
  </div>
</footer>

</div>
