<style>
  .fixed-bg {
    background-image: url("/images/grey.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fixed-bg2 {
    background-image: url("/images/alpine.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fixed-bg-sf {
    background-image: url("/images/stanford.png");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.97;
  }

  .alpine-net {
    background-image: url("/images/stanford.png");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.97;
  }
</style>

<div class="alpine-net">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1 style="color: white; font-family: 'Montserrat', sans-serif; font-size: 64px"><strong> <center> {{message}} </center></strong> </h1>
  <br>
  <center><a href="/products" type="button" class="btn btn-light btn-lg" style="font-family:'Montserrat', sans-serif; font-size: 28px ">JOIN OUR NETWORK FOR ACCESS</a> </center>
</div>
