<!-- <span class="skype-button bubble" data-contact-id="arjun.chakraborty42" data-color="#800000"></span>
<span class="skype-chat" data-color-message="#800000"></span> -->
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

	<div class = "container-fluid arch">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class = "crossGeneration textbox1"><strong> <center> “We want to create a cross generational network of college and high school students to breed success in elite university applications”  </center></strong> </h1>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class = "bigTitleFont-black"><strong> <center> OUR PACKAGES </center></strong> </h1>
      <!-- <p class="lead">Learn about what our various packages consist of.</p> -->
    </div>

    <!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">


				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Bronze Plan</span>
							<div style="background-color: #D16C41;" class="price">
								<!-- <h3 class = "secondTitleFont-black">$38.99<span class="duration secondTitleFont-black">per<br>consultation</span></h3> -->
							</div>
						</div>
                        <center><p class = "packageContents"> 3-hours with consultants</p></center>
                        <center><p class = "packageContents"> Database Access</p></center>
                        <center><p class = "packageContents"> 2 essay-reviews </p></center>

						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Silver plan</span>
							<div style="background-color: #DEDEDE;" class="price">
								<!-- <h3 class = "secondTitleFont-black">$37.99<span class="duration">per<br>consultation</span></h3> -->
							</div>
						</div>
						<center><p class = "packageContents"> 5-hours with consultants</p></center>
                        <center><p class = "packageContents"> Access to Database</p></center>
                        <center><p class = "packageContents"> 3 essay-reviews </p></center>
						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Gold plan</span>
							<div style="background-color: #D6C16D;" class="price">
								 <!-- <h3 class = "secondTitleFont-black">$31.99<span class="duration">per<br>consultation</span></h3> -->
							</div>
						</div>
						<center><p class = "packageContents"> 10-hours with consultants</p></center>
                        <center><p class = "packageContents"> Database Access</p></center>
                        <center><p class = "packageContents"> 5 essay-reviews </p></center>
						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->



    <br>
    <br>
    <!-- Service -->
	<div id="service" class="section md-padding arch" style="max-height: 700px; overflow: auto">
        <h1 class = "secondTitleFont"><strong> <center> WHAT WE OFFER </center></strong> </h1>
		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="a">What we offer</h2>
				</div>
                <br>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Colleges_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  College Selection </center></h3>
						<p1 class = "service1"><center> We will help you search for institutions that suit you best. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Apply_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Application Advice </center></h3>
						<p1 class = "service1"><center> Learn to perfectly craft your essays. Help us convey the best of you. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Database_icon.png" style = "height: 85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Database </center></h3>
						<p1 class = "service1"><center> Access hundreds of essays from a multitude of students from every elite institution. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Network_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Apiary Network </center></h3>
						<p1 class = "service1"><center> Interact with a vast network of consultants and ambitious students to share the college-application experience. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Testing_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Testing </center></h3>
						<p1 class = "service1"><center> Uncover a vast stockpile of resources to ace the standardized testing portion of your application.</center></p1>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->
  <br>
  <br>
<!--
    <br>
    <br>
    <brr>
<div class = "container">
        <h1 class = "bigTitleFont-black"><strong> <center> DATABASES </center></strong> </h1>
    <h3 class = "thirdTitleFont"> We want nothing but academic success for our clients. During our highschool years we found that most mainstream high school curriculums both inside and outside the country are fairly repetitive. Thus, academic success can be greatly influenced by exposure to additional material and practice. At Apiary we have compiled an indispensable database of notes, practice tests and study guides from the AP and IB curriculums.  </h3>
        </div>
    <br>

        <!- Numbers -->
	<!-- <div id="numbers" style="overflow: auto" class="section sm-padding net"> -->

		<!-- Container -->
		<!-- <div class="container-fluid"> -->

			<!-- Row -->
			<!-- <div class="row"> -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="stat1 white-text"><span class="counter">25+</span></h3>
						<span  class="stat2 white-text">Different Students</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-trophy"></i>
						<h3 class="stat1 white-text"><span class="counter">50+</span></h3>
						<span class=" stat2 white-text">Unique Univerities</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-coffee"></i>
						<h3 class="stat1 white-text"><span class="counter">100+</span></h3>
						<span class="stat2 white-text">Unique Essays</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-sm-3 col-xs-12">
					<div class="number">
						<i class="fa fa-file"></i>
						<h3 class="stat1 white-text">15+<span class="counter"></span></h3>
						<span class="stat2 white-text">Different Subjects</span>
					</div>
				</div> -->
				<!-- /number -->

			<!-- </div> -->
			<!-- /Row -->

		<!-- </div> -->
		<!-- /Container -->

<!-- <div> -->
	<!-- /Numbers -->
<!--
        <br>
        <br>
        <br>  -->
            <div style="height:520px;" class="fixed-bg-sf p_120">
            <div class="container">
            <div class="block">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <h1 class = "interestedServices"><strong> <center> JOIN THE APIARY NETWORK TODAY </center></strong> </h1>
                <br>
                <center><a href='/register' type="button" class="btn btn-light btn-lg" style = "font-family:'Montserrat', sans-serif ">REGISTER NOW</a></center>

            </div>
            </div>
        </div>

        <footer class="footer-area section_gap" style = "height: 240px;">
            <div class="container">

                                     <center> <img src = "images/apiarylogoblack.png" style = "width: 250px; height: 157px;"> </center>
                <div class="border_line"></div>
              <p class = "first-font"> Copyright © 2018 All rights reserved </p>
            </div>
        </footer>
         <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
