 <!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">


				<!-- pricing -->
				<div class="col-sm-12 col-lg-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Bronze plan</span>
							<div class="price">
								<h3 class = "secondTitleFont-black">$116<span class="duration"></span></h3>
							</div>
						</div>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 3-hours with consultants</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> Database Access</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 2 essay-reviews </p></center>
						{{#if canPurchase}}
						<div class="price-btn btn-light btn-lg">
            <a class = "secondTitleFont-blue" href="/checkout?package=basic">ENROLL</a>
						</div>
						{{/if}}
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-12 col-lg-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Silver plan</span>
							<div class="price">
								<h3 class = "secondTitleFont-black">$195<span class="duration"></span></h3>
							</div>
						</div>
						<center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 5-hours with consultants</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> Database Access</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 3 essay-reviews </p></center>
						{{#if canPurchase}}
						<div class="price-btn btn-light btn-lg">
            <a class = "secondTitleFont-blue" href="/checkout?package=silver">ENROLL</a>
						</div>
						{{/if}}
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-12 col-lg-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Gold plan</span>
							<div class="price">
								<h3 class = "secondTitleFont-black">$320<span class="duration"></span></h3>
							</div>
						</div>
						<center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 10-hours with consultants</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> Essays from 10+ colleges</p></center>
                        <center><p style = "color: black; font-family: 'Montserrat', sans-serif; font-size: 16px; color: grey"> 5 essay-reviews </p></center>
						{{#if canPurchase}}
						<div class="price-btn btn-light btn-lg">
            <a class = "secondTitleFont-blue" href="/checkout?package=gold">ENROLL</a>
						</div>
						{{/if}}
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->
